

body {  font-family: Arial, sans-serif; 
        margin: 0; 
        width: 100%;}


        header {  width: 100%;
                min-width: 800px;
                margin: 0; 
                padding: 0;
                font-size: 1em; 
                position: absolute; 
                top: 1em; 
                display: block; }

                nav#headright { position: relative; 
                                float: right; 
                                padding: 0 1em; 
                                width: auto; 
                                margin-right: 10px;
                                margin-top: 5px; }
         
                nav#headleft  { position: relative; 
                                float: left;
                                padding: 0 1em;
                                width: 200px; 
                                margin-left: 10px;
                                margin-top: 5px; }

                nav a.relative { position: relative; 
                                margin: 0 5px; 
                                padding: 0 3px;  
                                cursor: pointer; }

        nav a:hover {text-decoration: underline;}

                nav a#signin {  background-color:#0080FF;
                                font-size: small;
                                color: white;
                                font-weight: 600;
                                border-radius: 1px; 
                                padding: 0.6em 1.1em; 
                                cursor: default;
                        
                                margin-left: 7px; }

                nav a#signin:hover {text-decoration: none;}
                
                img#apps { margin-bottom: -3px;
                         width: 1.2em;
                        background-color: transparent; 
                        opacity: .6;}

                img#apps:hover { opacity: 1;}

#content {   position: relative; 
                top: 5em;
                max-width: 100%;
                min-width: 900px;
                margin:  75px 20px; }
            
    #logo {  display: block; 
                width: auto; ;
                margin: 10px auto 30px auto; }
            
    .search {  text-align: center; 
               width: 485px;  
               margin: 0 auto;}
    input   {  font-size: .9em; 
            color: rgb(48, 48, 48); }
    
        .search-bar { width: 485px; 
                         margin: 0;
                        border-radius: 25px; 
                        height: 43px; 
                        border-color: rgba(225, 225, 225, .7); 
                        border-style: solid;
                        border-width: 1px;
                        outline: none;
                        text-indent: 10px; }

                input.search-bar:hover { box-shadow: 1px 1px 10px 
                                        rgb(230,230,230); }

     .wrap-mag-glass {position: relative;}
     .wrap-mag-glass img { position: absolute; left: 0; top: 0;   }
   #mag-glass { width: 1em; height: 1em;  opacity: 0.3; margin: 1em; }
        input.button {  margin: 30px 5px; 
                        padding: 10px 12px ;  
                        background-color:rgba(240, 240, 240, .8); 
                        border-style: hidden; 
                        border-radius: 5px; 
                        border-color: transparent;
                        color: rgb(110, 110, 110);}
                input.button:hover {cursor: pointer; 
                        color: black; 
                        border-color: rgb(200, 200, 200); 
                        border-width: 1px; 
                        border-style: solid; }


footer {max-width: 100%;
        min-width: 800px; 
        margin: 0; 
        position: fixed; 
        bottom: 0; 
        right: 0; 
        left: 0; 
        top: auto; 
        padding: 10px;
        background-color: #f0f0f0; 
        font-size: 1.1em; }

nav#right { float: right; }
nav#left  { float: left; }
nav a.righta { margin: 7px 10px;color: rgb(110, 110, 110); }
nav a.lefta { margin: 7px 10px; color: rgb(110, 110, 110);}

nav a { font-size: 0.8em;
        margin: 0;
        color: rgb(110, 110, 110);
        text-decoration: none; }
